.header{
    display: flex;
    background-color:rgb(76, 175, 80);
}
.logo{
    width: 30%;
    font-size: 30px;
    font-weight: 600;
}

.menu{
   display: flex;
}

.menu p{
    padding: 0px 35px;
    font-size: 30px;
    border-right: 1px solid;
    font-weight: 600;
    
}

.contact {
    border-right: 0px !important;
}
.mainer{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: black;

}
.image{
    width: 70%;
    padding:30px;
    padding-top: 120px;

}
.content{
    display:flex;
    background-color: black;
    margin-top: 1px;
}
.wrap_content{
    font-size: 20px;
    color: white;    
}
.about{
    color: greenyellow;
    font-weight:500;
    padding-left: 100px;
    padding-bottom: 60px;
}