body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
}
.mindx{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.menu{
    display: flex;
    gap: 10px;
}
.shop_name{
    font-size: 36px;
}
.content{
    display: flex;
}
.side{
    padding: 20px;
    background-color: #ececec;
    width: 250px;
}
.search_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.form{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 12px 20px;
}
.click{
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background-color:#4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}
.shop_list{
    grid-template-columns: repeat(3 , minmax(0 , 1fr));
    display: grid;
    padding: 20px;
    gap: 10px;
}
.product{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
    padding: 10px;
}
.price{
    padding: 10px;
    color: red;
    font-size: 20px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}